:root {
    /* 1. FONT */
	/* ==================================================================================================== */
	--font: 16px normal -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    /* 2. COLOR */
	/* ==================================================================================================== */
	--bg:hsl(0, 0%, 90%);
    --fg: hsl(0, 0%, 20%);
    --addBg:hsl(0, 0%, 100%);
    --addFg: hsl(0, 0%, 27%);
    --addFg2: hsl(0, 0%, 37%);
    --sBg: hsl(221, 68%, 55%);
    --border: hsl(0, 0%, 84%)
}